In [1]:
#  Last amended: 15th August, 2019
#  Myfolder: /home/ashok/Documents/spark
# Ref:
# Tutorials:
#      https://changhsinlee.com/pyspark-dataframe-basics/
#      https://www.analyticsvidhya.com/blog/2016/10/spark-dataframe-and-operations/
#      https://dzone.com/articles/pyspark-dataframe-tutorial-introduction-to-datafra
# Documentation:
#      http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark-sql-module
#      http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#module-pyspark.sql.functions
# Cheat Sheet
#      https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PySpark_SQL_Cheat_Sheet_Python.pdf

#  Objectives:
#           Dataframe operations in spark cluster
#           Dealing with categorical columns
#               i) StrinIndexing them
#              ii) OneHotEncoding
#             iii) PipeLining for multiple columns

A. Initial operations:
1.0 Start hadoop in a terminal:

            ./allstart.sh

In [ ]:
# 1.1 Transfer two data files, airports.csv and  weather.csv,
#         from local file system to hadoop. 
#         COPY AND PASTE in terminal all the four commands below.
"""

cd ~
hdfs dfs -put /cdata/nycflights13/airports.csv hdfs://localhost:9000/user/ashok/data_files/nycflights
hdfs dfs -put /cdata/nycflights13/weather.csv hdfs://localhost:9000/user/ashok/data_files/nycflights
hdfs dfs -ls -h hdfs://localhost:9000/user/ashok/data_files/nycflights

"""

In [ ]:
# 1.2 Start pyspark in terminal. Its starting creates a context 'sc' and session 'spark'
#     Jupyter notebook will also start then. pyspark is using juptyter notebook as interface
#     COPY AND PASTE FOLLOWING TWO COMMANDS
"""

cd /home/ashok/Documents/spark/1.basics/
pyspark

"""

In [1]:
# Display multiple outputs from a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Increase cell width to display wide columnar output
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
# 1.3 To check if spark context is ,sc, and spark session is, spark: 
#        try the following two commands. Also right-click on Spark_UI hyperlink
#        to open another site.
#      Spark 'driver' process manifests itself through 'spark' session object

sc
spark

### Spark DataFrame creation

In [4]:
# 1.4 Using 'spark' session, create a range of numbers 

myRange = spark.range(10000)
type(myRange)
myRange.show(3)

pyspark.sql.dataframe.DataFrame

+---+
| id|
+---+
|  0|
|  1|
|  2|
+---+
only showing top 3 rows

In [5]:
#  Use createDataFrame() . This is preferred method.
#  1.4.1 From a list of tuples:
#  1.4.1 No schema. Column names are given on its own
df = spark.createDataFrame([(11,12,31), (4,5,6)])
df.show()
# 1.4.2 Specify schema
df = spark.createDataFrame([(1,2,3), (4,5,6)], schema = ['age', 'income','ht']).show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
| 11| 12| 31|
|  4|  5|  6|
+---+---+---+

+---+------+---+
|age|income| ht|
+---+------+---+
|  1|     2|  3|
|  4|     5|  6|
+---+------+---+

In [6]:
# 1.5.1 From a list of dictionaries:

df = spark.createDataFrame([ {'name':['Alice', 'kishan'], 'age' : [22,44]}]).show()

df = spark.createDataFrame([ {'name':['Alice'], 'age' : [22]},
                             {'name':['kishan'], 'age' : [44]}]).show()

df = spark.createDataFrame([ {'name':'Alice', 'age' : 22},
                             {'name':'kishan' , 'age' : 44}]).show()

/opt/spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/session.py:346: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+--------+---------------+
|     age|           name|
+--------+---------------+
|[22, 44]|[Alice, kishan]|
+--------+---------------+

+----+--------+
| age|    name|
+----+--------+
|[22]| [Alice]|
|[44]|[kishan]|
+----+--------+

+---+------+
|age|  name|
+---+------+
| 22| Alice|
| 44|kishan|
+---+------+

In [8]:
# 1.5.3 Using Pandas

import pandas as pd
import numpy as np
pdf = pd.DataFrame({'age' : np.random.randint(20,50, 10000),    
                    'married' : np.random.randint(0,2,10000)
                    }
                  )
pdf.head(3)

#  1.5.4 Transform it to spark dataframe
#        Note that unlike pandas, there is no concept
#        of index here.
big = spark.createDataFrame(pdf)
big.show(3)
big.count()   # How many rows

   age  married
0   29        0
1   43        0
2   34        0

+---+-------+
|age|married|
+---+-------+
| 29|      0|
| 43|      0|
| 34|      0|
+---+-------+
only showing top 3 rows

10000

In [9]:
# 1.5.5 Using 'Row' object of dataset
from pyspark.sql import Row

# Create an RDD
df = sc.parallelize([ 
                     Row(name='Alice', age=5, height=80), 
                     Row(name='Alice', age=5, height=80), 
                     Row(name='Alice', age=10, height=80),
                     Row(name=None, age=None, height=None)
                     ]
                    )

type(df)      #
df

pyspark.rdd.RDD

ParallelCollectionRDD[80] at parallelize at PythonRDD.scala:195

In [10]:
# 1.5.6 Transform to dataframe and process
df1 = df.toDF()
type(df1)
df1.dropDuplicates().show()
df1.dropna().show()
df1.dtypes

pyspark.sql.dataframe.DataFrame

+----+------+-----+
| age|height| name|
+----+------+-----+
|   5|    80|Alice|
|null|  null| null|
|  10|    80|Alice|
+----+------+-----+

+---+------+-----+
|age|height| name|
+---+------+-----+
|  5|    80|Alice|
|  5|    80|Alice|
| 10|    80|Alice|
+---+------+-----+

[('age', 'bigint'), ('height', 'bigint'), ('name', 'string')]

In [12]:
# 1.5.7  Take a stratified sample from DataFrame:
#              80% of 0s and 10% of 1s
#              We have to decide how stratification will be done.

sample = big.sampleBy("married", fractions = {0 : 0.8, 1 : 0.2 })
type(sample)
# 1.5.8
big.count()
sample.count()
# 1.5.9
sample.groupby('married').count().show()   # Same as value_counts() in pandas
big.groupby('married').count().show()

pyspark.sql.dataframe.DataFrame

10000

4946

+-------+-----+
|married|count|
+-------+-----+
|      0| 3924|
|      1| 1022|
+-------+-----+

+-------+-----+
|married|count|
+-------+-----+
|      0| 4907|
|      1| 5093|
+-------+-----+

In [15]:
###### B. Read Dataset from hadoop
# 2.0 Read 'airports.csv file into spark from hadoop

# Where is my file? Path:
URL_of_file= "hdfs://localhost:9000/user/ashok/data_files/nycflights/"

# 2.0.1 Takes time. We use 'spark' session object to read file:
airports_df = spark.read.csv(path = URL_of_file + "airports.csv",
                             inferSchema = True,
                             header = True
                            )

In [16]:
# 2.1 Show top-5 rows
# 2.1.1
airports_df.head(3)         #    List of four 'Row' instances. 
airports_df.take(3)         #    Result same as above but prefer take() to head()
airports_df.collect()       #   collect() takes no number and returns all rows

[Row(faa='04G', name='Lansdowne Airport', lat=41.1304722, lon=-80.6195833, alt=1044, tz=-5, dst='A'),
 Row(faa='06A', name='Moton Field Municipal Airport', lat=32.4605722, lon=-85.6800278, alt=264, tz=-5, dst='A'),
 Row(faa='06C', name='Schaumburg Regional', lat=41.9893408, lon=-88.1012428, alt=801, tz=-6, dst='A')]

[Row(faa='04G', name='Lansdowne Airport', lat=41.1304722, lon=-80.6195833, alt=1044, tz=-5, dst='A'),
 Row(faa='06A', name='Moton Field Municipal Airport', lat=32.4605722, lon=-85.6800278, alt=264, tz=-5, dst='A'),
 Row(faa='06C', name='Schaumburg Regional', lat=41.9893408, lon=-88.1012428, alt=801, tz=-6, dst='A')]

[Row(faa='04G', name='Lansdowne Airport', lat=41.1304722, lon=-80.6195833, alt=1044, tz=-5, dst='A'),
 Row(faa='06A', name='Moton Field Municipal Airport', lat=32.4605722, lon=-85.6800278, alt=264, tz=-5, dst='A'),
 Row(faa='06C', name='Schaumburg Regional', lat=41.9893408, lon=-88.1012428, alt=801, tz=-6, dst='A'),
 Row(faa='06N', name='Randall Airport', lat=41.431912, lon=-74.3915611, alt=523, tz=-5, dst='A'),
 Row(faa='09J', name='Jekyll Island Airport', lat=31.0744722, lon=-81.4277778, alt=11, tz=-4, dst='A'),
 Row(faa='0A9', name='Elizabethton Municipal Airport', lat=36.3712222, lon=-82.1734167, alt=1593, tz=-4, dst='A'),
 Row(faa='0G6', name='Williams County Airport', lat=41.4673056, lon=-84.5067778, alt=730, tz=-5, dst='A'),
 Row(faa='0G7', name='Finger Lakes Regional Airport', lat=42.8835647, lon=-76.7812318, alt=492, tz=-5, dst='A'),
 Row(faa='0P2', name='Shoestring Aviation Airfield', lat=39.7948244, lon=-76.6471914, alt=1000, tz=-5, dst='U'),
 Row(faa='0S9', name='Jefferson County Intl', lat=48.0538086, lon=-122.8106436, alt=108, tz=-8, dst='A'),
 Row(faa='0W3', name='Harford County Airport', lat=39.5668378, lon=-76.2024028, alt=409, tz=-5, dst='A'),
 Row(faa='10C', name='Galt Field Airport', lat=42.4028889, lon=-88.3751111, alt=875, tz=-6, dst='U'),
 Row(faa='17G', name='Port Bucyrus-Crawford County Airport', lat=40.7815556, lon=-82.9748056, alt=1003, tz=-5, dst='A'),
 Row(faa='19A', name='Jackson County Airport', lat=34.1758638, lon=-83.5615972, alt=951, tz=-4, dst='U'),
 Row(faa='1A3', name='Martin Campbell Field Airport', lat=35.0158056, lon=-84.3468333, alt=1789, tz=-4, dst='A'),
 Row(faa='1B9', name='Mansfield Municipal', lat=42.0001331, lon=-71.1967714, alt=122, tz=-5, dst='A'),
 Row(faa='1C9', name='Frazier Lake Airpark', lat=54.0133333333333, lon=-124.768333333333, alt=152, tz=-8, dst='A'),
 Row(faa='1CS', name='Clow International Airport', lat=41.6959744, lon=-88.1292306, alt=670, tz=-6, dst='U'),
 Row(faa='1G3', name='Kent State Airport', lat=41.1513889, lon=-81.4151111, alt=1134, tz=-4, dst='A'),
 Row(faa='1OH', name='Fortman Airport', lat=40.5553253, lon=-84.3866186, alt=885, tz=-5, dst='U'),
 Row(faa='1RL', name='Point Roberts Airpark', lat=48.9797222, lon=-123.0788889, alt=10, tz=-7, dst='A'),
 Row(faa='24C', name='Lowell City Airport', lat=42.95392, lon=-85.3439058, alt=681, tz=-5, dst='A'),
 Row(faa='24J', name='Suwannee County Airport', lat=30.300125, lon=-83.0246944, alt=104, tz=-5, dst='A'),
 Row(faa='25D', name='Forest Lake Airport', lat=45.2477456, lon=-92.9943853, alt=925, tz=-5, dst='A'),
 Row(faa='29D', name='Grove City Airport', lat=41.1460278, lon=-80.16775, alt=1371, tz=-5, dst='A'),
 Row(faa='2A0', name='Mark Anton Airport', lat=35.48625, lon=-84.9310833, alt=718, tz=-4, dst='A'),
 Row(faa='2G2', name='Jefferson County Airpark', lat=40.3602179, lon=-80.7008742, alt=1196, tz=-4, dst='A'),
 Row(faa='2G9', name='Somerset County Airport', lat=40.0388708, lon=-79.0149951, alt=2275, tz=-5, dst='A'),
 Row(faa='2J9', name='Quincy Municipal Airport', lat=30.5978708, lon=-84.557425, alt=225, tz=-5, dst='A'),
 Row(faa='369', name='Atmautluak Airport', lat=60.866667, lon=-162.273056, alt=18, tz=-10, dst='A'),
 Row(faa='36U', name='Heber City Municipal Airport', lat=40.4818056, lon=-111.4288056, alt=5637, tz=-6, dst='A'),
 Row(faa='38W', name='Lynden Airport', lat=48.9558961, lon=-122.4581183, alt=106, tz=-8, dst='A'),
 Row(faa='3D2', name='Ephraim-Gibraltar Airport', lat=45.1354167, lon=-87.1879444, alt=773, tz=-5, dst='A'),
 Row(faa='3G3', name='Wadsworth Municipal', lat=41.0031572, lon=-81.7564401, alt=974, tz=-5, dst='A'),
 Row(faa='3G4', name='Ashland County Airport', lat=40.9029722, lon=-82.2556389, alt=1206, tz=-5, dst='A'),
 Row(faa='3J1', name='Ridgeland Airport', lat=32.4934167, lon=-80.99175, alt=79, tz=-5, dst='A'),
 Row(faa='3W2', name='Put-in-Bay Airport', lat=41.3521, lon=-82.497, alt=595, tz=-6, dst='A'),
 Row(faa='40J', name='Perry-Foley Airport', lat=30.0692778, lon=-83.5805833, alt=44, tz=-5, dst='A'),
 Row(faa='41N', name='Braceville Airport', lat=41.2111675, lon=-80.9692572, alt=900, tz=-5, dst='A'),
 Row(faa='47A', name='Cherokee County Airport', lat=34.3122175, lon=-84.4221556, alt=1219, tz=-4, dst='A'),
 Row(faa='49A', name='Gilmer County Airport', lat=34.6282222, lon=-84.5265833, alt=1486, tz=-4, dst='A'),
 Row(faa='49X', name='Chemehuevi Valley', lat=34.528889, lon=-114.431971, alt=638, tz=-8, dst='A'),
 Row(faa='4A4', name='Polk County Airport - Cornelius Moore Field', lat=34.0186944, lon=-85.1464722, alt=974, tz=-4, dst='A'),
 Row(faa='4A7', name='Clayton County Tara Field', lat=33.389099, lon=-84.332397, alt=874, tz=-5, dst='A'),
 Row(faa='4A9', name='Isbell Field Airport', lat=34.4736944, lon=-85.7213889, alt=877, tz=-5, dst='A'),
 Row(faa='4B8', name='Robertson Field', lat=41.6893333, lon=-72.8646944, alt=202, tz=-5, dst='A'),
 Row(faa='4G0', name='Pittsburgh-Monroeville Airport', lat=40.4526389, lon=-79.7749167, alt=1187, tz=-5, dst='A'),
 Row(faa='4G2', name='Hamburg Inc Airport', lat=42.7008925, lon=-78.9147569, alt=751, tz=-5, dst='A'),
 Row(faa='4G4', name='Youngstown Elser Metro Airport', lat=40.9617953, lon=-80.6773264, alt=1070, tz=-5, dst='A'),
 Row(faa='4I7', name='Putnam County Airport', lat=39.6335556, lon=-86.8138056, alt=842, tz=-5, dst='U'),
 Row(faa='4U9', name='Dell Flight Strip', lat=44.7357483, lon=-112.7200133, alt=6007, tz=-7, dst='A'),
 Row(faa='52A', name='Madison GA Municipal Airport', lat=33.612125, lon=-83.4604444, alt=694, tz=-5, dst='A'),
 Row(faa='54J', name='DeFuniak Springs Airport', lat=30.7311111, lon=-86.1537778, alt=289, tz=-5, dst='A'),
 Row(faa='55J', name='Fernandina Beach Municipal Airport', lat=30.6118333, lon=-81.4611944, alt=16, tz=-4, dst='A'),
 Row(faa='57C', name='East Troy Municipal Airport', lat=42.7971667, lon=-88.3726111, alt=860, tz=-6, dst='A'),
 Row(faa='60J', name='Ocean Isle Beach Airport', lat=33.9085056, lon=-78.4366722, alt=32, tz=-5, dst='U'),
 Row(faa='6A2', name='Griffin-Spalding County Airport', lat=33.2269722, lon=-84.2749444, alt=958, tz=-5, dst='A'),
 Row(faa='6K8', name='Tok Junction Airport', lat=63.329444, lon=-142.953611, alt=1639, tz=-9, dst='A'),
 Row(faa='6S0', name='Big Timber Airport', lat=45.8063889, lon=-109.9811111, alt=4492, tz=-7, dst='A'),
 Row(faa='6S2', name='Florence', lat=43.9828168, lon=-124.1113687, alt=51, tz=-7, dst='A'),
 Row(faa='6Y8', name='Welke Airport', lat=45.721111, lon=-85.520278, alt=664, tz=-5, dst='A'),
 Row(faa='70J', name='Cairo-Grady County Airport', lat=30.8879767, lon=-84.1547353, alt=265, tz=-5, dst='A'),
 Row(faa='70N', name='Spring Hill Airport', lat=41.3473569, lon=-75.4158972, alt=1729, tz=-5, dst='A'),
 Row(faa='7A4', name='Foster Field', lat=42.4664444, lon=-90.1693889, alt=990, tz=-6, dst='A'),
 Row(faa='7D9', name='Germack Airport', lat=41.7778322, lon=-80.9039797, alt=820, tz=-5, dst='A'),
 Row(faa='7N7', name='Spitfire Aerodrome', lat=39.7355633, lon=-75.3977211, alt=40, tz=-5, dst='A'),
 Row(faa='8M8', name='Garland Airport', lat=44.8065278, lon=-84.2761944, alt=1218, tz=-5, dst='A'),
 Row(faa='93C', name='Richland Airport', lat=43.2833575, lon=-90.2982819, alt=742, tz=-6, dst='A'),
 Row(faa='99N', name='Bamberg County Airport', lat=33.3045278, lon=-81.1084167, alt=231, tz=-5, dst='A'),
 Row(faa='9A1', name='Covington Municipal Airport', lat=33.6323083, lon=-83.8474472, alt=809, tz=-4, dst='A'),
 Row(faa='9A5', name='Barwick Lafayette Airport', lat=34.6884792, lon=-85.2903319, alt=777, tz=-4, dst='A'),
 Row(faa='A39', name='Phoenix Regional Airport', lat=32.99169921875, lon=-111.920997619629, alt=1300, tz=-7, dst='A'),
 Row(faa='AAF', name='Apalachicola Regional Airport', lat=29.7276066, lon=-85.0274416, alt=20, tz=-6, dst='A'),
 Row(faa='ABE', name='Lehigh Valley Intl', lat=40.652083, lon=-75.440806, alt=393, tz=-5, dst='A'),
 Row(faa='ABI', name='Abilene Rgnl', lat=32.411319, lon=-99.681897, alt=1791, tz=-6, dst='A'),
 Row(faa='ABL', name='Ambler Airport', lat=67.106389, lon=-157.8575, alt=334, tz=-9, dst='A'),
 Row(faa='ABQ', name='Albuquerque International Sunport', lat=35.0402222, lon=-106.6091944, alt=5355, tz=-7, dst='A'),
 Row(faa='ABR', name='Aberdeen Regional Airport', lat=45.4491, lon=-98.4218, alt=1302, tz=-6, dst='A'),
 Row(faa='ABY', name='Southwest Georgia Regional Airport', lat=31.5355, lon=-84.1945, alt=197, tz=-5, dst='A'),
 Row(faa='ACK', name='Nantucket Mem', lat=41.253053, lon=-70.060181, alt=48, tz=-5, dst='A'),
 Row(faa='ACT', name='Waco Rgnl', lat=31.611289, lon=-97.230519, alt=516, tz=-6, dst='A'),
 Row(faa='ACV', name='Arcata', lat=40.978111, lon=-124.108611, alt=221, tz=-8, dst='A'),
 Row(faa='ACY', name='Atlantic City Intl', lat=39.457583, lon=-74.577167, alt=75, tz=-5, dst='A'),
 Row(faa='ADK', name='Adak Airport', lat=51.878, lon=-176.646, alt=18, tz=-10, dst='A'),
 Row(faa='ADM', name='Ardmore Muni', lat=34.300833, lon=-97.008889, alt=762, tz=-6, dst='A'),
 Row(faa='ADQ', name='Kodiak', lat=57.749967, lon=-152.493856, alt=78, tz=-9, dst='A'),
 Row(faa='ADS', name='Addison', lat=32.9685594, lon=-96.8364478, alt=644, tz=-5, dst='A'),
 Row(faa='ADW', name='Andrews Afb', lat=38.810806, lon=-76.867028, alt=280, tz=-5, dst='A'),
 Row(faa='AET', name='Allakaket Airport', lat=66.5519, lon=-152.6222, alt=441, tz=-8, dst='A'),
 Row(faa='AEX', name='Alexandria Intl', lat=31.3274, lon=-92.549833, alt=89, tz=-6, dst='A'),
 Row(faa='AFE', name='Kake Airport', lat=56.961389, lon=-133.910278, alt=172, tz=-9, dst='A'),
 Row(faa='AFW', name='Fort Worth Alliance Airport', lat=32.987778, lon=-97.318889, alt=722, tz=-6, dst='A'),
 Row(faa='AGC', name='Allegheny County Airport', lat=40.3544, lon=-79.9302, alt=1252, tz=-5, dst='A'),
 Row(faa='AGN', name='Angoon Seaplane Base', lat=57.503611, lon=-134.585, alt=0, tz=-9, dst='A'),
 Row(faa='AGS', name='Augusta Rgnl At Bush Fld', lat=33.369944, lon=-81.9645, alt=144, tz=-5, dst='A'),
 Row(faa='AHN', name='Athens Ben Epps Airport', lat=33.9486, lon=-83.3263, alt=808, tz=-5, dst='A'),
 Row(faa='AIA', name='Alliance Municipal Airport', lat=42.053333, lon=-102.803889, alt=3931, tz=-7, dst='A'),
 Row(faa='AIK', name='Municipal Airport', lat=33.6493889, lon=-81.6850278, alt=529, tz=-5, dst='A'),
 Row(faa='AIN', name='Wainwright Airport', lat=70.638056, lon=-159.994722, alt=41, tz=-9, dst='A'),
 Row(faa='AIZ', name='Lee C Fine Memorial Airport', lat=38.096035, lon=-92.5494875, alt=869, tz=-5, dst='A'),
 Row(faa='AKB', name='Atka Airport', lat=52.220278, lon=-174.206389, alt=56, tz=-9, dst='A'),
 Row(faa='AKC', name='Akron Fulton Intl', lat=41.0375, lon=-81.466917, alt=1067, tz=-5, dst='A'),
 Row(faa='AKI', name='Akiak Airport', lat=60.902778, lon=-161.230556, alt=30, tz=-9, dst='A'),
 Row(faa='AKK', name='Akhiok Airport', lat=56.938611, lon=-154.1825, alt=44, tz=-9, dst='A'),
 Row(faa='AKN', name='King Salmon', lat=58.676778, lon=-156.649278, alt=68, tz=-9, dst='A'),
 Row(faa='AKP', name='Anaktuvuk Pass Airport', lat=68.1336, lon=-151.743, alt=2103, tz=-9, dst='A'),
 Row(faa='ALB', name='Albany Intl', lat=42.748267, lon=-73.801692, alt=285, tz=-5, dst='A'),
 Row(faa='ALI', name='Alice Intl', lat=27.740889, lon=-98.026944, alt=178, tz=-6, dst='A'),
 Row(faa='ALM', name='Alamogordo White Sands Regional Airport', lat=32.8399, lon=-105.991, alt=4200, tz=-7, dst='A'),
 Row(faa='ALO', name='Waterloo Regional Airport', lat=42.5571, lon=-92.4003, alt=873, tz=-6, dst='A'),
 Row(faa='ALS', name='San Luis Valley Regional Airport', lat=37.435, lon=-105.866667, alt=7539, tz=-7, dst='A'),
 Row(faa='ALW', name='Walla Walla Regional Airport', lat=46.0949, lon=-118.288, alt=1191, tz=-8, dst='A'),
 Row(faa='ALX', name='Alexandria', lat=38.806346, lon=-77.0621, alt=1, tz=-5, dst='A'),
 Row(faa='ALZ', name='Alitak Seaplane Base', lat=56.899444, lon=-154.247778, alt=0, tz=-9, dst='A'),
 Row(faa='AMA', name='Rick Husband Amarillo Intl', lat=35.219369, lon=-101.705931, alt=3607, tz=-6, dst='A'),
 Row(faa='ANB', name='Anniston Metro', lat=33.588167, lon=-85.858111, alt=612, tz=-6, dst='A'),
 Row(faa='ANC', name='Ted Stevens Anchorage Intl', lat=61.174361, lon=-149.996361, alt=152, tz=-9, dst='A'),
 Row(faa='AND', name='Anderson Rgnl', lat=34.494583, lon=-82.709389, alt=782, tz=-5, dst='A'),
 Row(faa='ANI', name='Aniak Airport', lat=61.5816, lon=-159.543, alt=88, tz=-9, dst='A'),
 Row(faa='ANN', name='Annette Island', lat=55.042436, lon=-131.572233, alt=119, tz=-9, dst='A'),
 Row(faa='ANP', name='Lee Airport', lat=38.942778, lon=-76.568333, alt=34, tz=-5, dst='A'),
 Row(faa='ANQ', name='Tri-State Steuben County Airport', lat=41.6396983, lon=-85.0834933, alt=995, tz=-5, dst='A'),
 Row(faa='ANV', name='Anvik Airport', lat=62.6467, lon=-160.191, alt=309, tz=-9, dst='A'),
 Row(faa='AOH', name='Lima Allen County Airport', lat=40.707478, lon=-84.0270781, alt=975, tz=-5, dst='A'),
 Row(faa='AOO', name='Altoona Blair Co', lat=40.296372, lon=-78.320022, alt=1504, tz=-5, dst='A'),
 Row(faa='AOS', name='Amook Bay Seaplane Base', lat=57.471389, lon=-153.815278, alt=0, tz=-9, dst='A'),
 Row(faa='APA', name='Centennial', lat=39.570129, lon=-104.849294, alt=5883, tz=-7, dst='A'),
 Row(faa='APC', name='Napa County Airport', lat=38.2131944, lon=-122.2806944, alt=35, tz=-7, dst='A'),
 Row(faa='APF', name='Naples Muni', lat=26.152619, lon=-81.775294, alt=8, tz=-5, dst='A'),
 Row(faa='APG', name='Phillips Aaf', lat=39.466219, lon=-76.168808, alt=57, tz=-5, dst='A'),
 Row(faa='APN', name='Alpena County Regional Airport', lat=45.0781, lon=-83.5603, alt=689, tz=-5, dst='A'),
 Row(faa='AQC', name='Klawock Seaplane Base', lat=55.554658, lon=-133.101693, alt=0, tz=-9, dst='A'),
 Row(faa='ARA', name='Acadiana Rgnl', lat=30.037758, lon=-91.883896, alt=24, tz=-6, dst='A'),
 Row(faa='ARB', name='Ann Arbor Municipal Airport', lat=42.132274, lon=-83.444418, alt=839, tz=-5, dst='A'),
 Row(faa='ARC', name='Arctic Village Airport', lat=68.1147, lon=-145.579, alt=2092, tz=-9, dst='A'),
 Row(faa='ART', name='Watertown Intl', lat=43.991922, lon=-76.021739, alt=325, tz=-5, dst='A'),
 Row(faa='ARV', name='Lakeland', lat=45.927778, lon=-89.730833, alt=1629, tz=-6, dst='A'),
 Row(faa='ASE', name='Aspen Pitkin County Sardy Field', lat=39.2232, lon=-106.869, alt=7820, tz=-7, dst='A'),
 Row(faa='ASH', name='Boire Field Airport', lat=42.78175, lon=-71.5147778, alt=199, tz=-4, dst='A'),
 Row(faa='AST', name='Astoria Regional Airport', lat=46.157972, lon=-123.878694, alt=15, tz=-8, dst='A'),
 Row(faa='ATK', name='Atqasuk Edward Burnell Sr Memorial Airport', lat=70.4673, lon=-157.436, alt=96, tz=-9, dst='A'),
 Row(faa='ATL', name='Hartsfield Jackson Atlanta Intl', lat=33.636719, lon=-84.428067, alt=1026, tz=-5, dst='A'),
 Row(faa='ATT', name='Camp Mabry Austin City', lat=30.31666, lon=-97.7666, alt=0, tz=-6, dst='A'),
 Row(faa='ATW', name='Appleton', lat=44.257526, lon=-88.507576, alt=680, tz=-6, dst='A'),
 Row(faa='ATY', name='Watertown Regional Airport', lat=44.914, lon=-97.1547, alt=1748, tz=-6, dst='A'),
 Row(faa='AUG', name='Augusta State', lat=44.320647, lon=-69.797317, alt=352, tz=-5, dst='A'),
 Row(faa='AUK', name='Alakanuk Airport', lat=62.68, lon=-164.66, alt=10, tz=-9, dst='A'),
 Row(faa='AUS', name='Austin Bergstrom Intl', lat=30.194528, lon=-97.669889, alt=542, tz=-6, dst='A'),
 Row(faa='AUW', name='Wausau Downtown Airport', lat=44.9262845, lon=-89.6270018, alt=1201, tz=-6, dst='U'),
 Row(faa='AVL', name='Asheville Regional Airport', lat=35.436194, lon=-82.541806, alt=2165, tz=-5, dst='A'),
 Row(faa='AVO', name='Executive', lat=27.591389, lon=-81.528889, alt=160, tz=-5, dst='A'),
 Row(faa='AVP', name='Wilkes Barre Scranton Intl', lat=41.338478, lon=-75.723403, alt=962, tz=-5, dst='A'),
 Row(faa='AVW', name='Marana Regional', lat=32.409556, lon=-111.218388, alt=2031, tz=-7, dst='U'),
 Row(faa='AVX', name='Avalon', lat=33.405, lon=-118.415833, alt=1602, tz=-8, dst='A'),
 Row(faa='AZA', name='Phoenix-Mesa Gateway', lat=33.307833, lon=-111.655, alt=1382, tz=-7, dst='N'),
 Row(faa='AZO', name='Kalamazoo', lat=42.234875, lon=-85.552058, alt=874, tz=-5, dst='A'),
 Row(faa='BAB', name='Beale Afb', lat=39.136089, lon=-121.436567, alt=113, tz=-8, dst='A'),
 Row(faa='BAD', name='Barksdale Afb', lat=32.50182, lon=-93.662674, alt=166, tz=-6, dst='A'),
 Row(faa='BAF', name='Barnes Municipal', lat=42.1579472, lon=-72.715875, alt=270, tz=-4, dst='A'),
 Row(faa='BBX', name='Wings Field', lat=40.1375, lon=-75.265, alt=302, tz=-5, dst='A'),
 Row(faa='BCE', name='Bryce Canyon', lat=37.706444, lon=-112.145806, alt=7590, tz=-7, dst='A'),
 Row(faa='BCT', name='Boca Raton', lat=26.3785, lon=-80.107694, alt=13, tz=-5, dst='A'),
 Row(faa='BDE', name='Baudette Intl', lat=48.728444, lon=-94.612222, alt=1086, tz=-6, dst='A'),
 Row(faa='BDL', name='Bradley Intl', lat=41.938889, lon=-72.683222, alt=173, tz=-5, dst='A'),
 Row(faa='BDR', name='Igor I Sikorsky Mem', lat=41.163472, lon=-73.126167, alt=9, tz=-5, dst='A'),
 Row(faa='BEC', name='Beech Factory Airport', lat=37.6939167, lon=-97.2149167, alt=1409, tz=-5, dst='A'),
 Row(faa='BED', name='Laurence G Hanscom Fld', lat=42.469953, lon=-71.289031, alt=133, tz=-5, dst='A'),
 Row(faa='BEH', name='Southwest Michigan Regional Airport', lat=42.1285833, lon=-86.4285, alt=643, tz=-5, dst='A'),
 Row(faa='BET', name='Bethel', lat=60.779778, lon=-161.838, alt=121, tz=-9, dst='A'),
 Row(faa='BFD', name='Bradford Regional Airport', lat=41.8031, lon=-78.6401, alt=2143, tz=-5, dst='A'),
 Row(faa='BFF', name='Western Nebraska Regional Airport', lat=41.874, lon=-103.596, alt=3967, tz=-7, dst='A'),
 Row(faa='BFI', name='Boeing Fld King Co Intl', lat=47.53, lon=-122.301947, alt=21, tz=-8, dst='A'),
 Row(faa='BFL', name='Meadows Fld', lat=35.433598, lon=-119.05677, alt=507, tz=-8, dst='A'),
 Row(faa='BFM', name='Mobile Downtown', lat=30.626783, lon=-88.068092, alt=26, tz=-6, dst='A'),
 Row(faa='BFP', name='Beaver Falls', lat=40.7724722, lon=-80.3914444, alt=1253, tz=-4, dst='A'),
 Row(faa='BFT', name='Beaufort', lat=32.477411, lon=-80.723161, alt=37, tz=-5, dst='A'),
 Row(faa='BFT', name='BFT County Airport', lat=32.41083, lon=-80.635, alt=500, tz=-5, dst='A'),
 Row(faa='BGE', name='Decatur County Industrial Air Park', lat=30.9715981, lon=-84.6369278, alt=141, tz=-5, dst='A'),
 Row(faa='BGM', name='Greater Binghamton Edwin A Link Fld', lat=42.208689, lon=-75.979839, alt=1636, tz=-5, dst='A'),
 Row(faa='BGR', name='Bangor Intl', lat=44.807444, lon=-68.828139, alt=192, tz=-5, dst='A'),
 Row(faa='BHB', name='Hancock County - Bar Harbor', lat=44.4497689, lon=-68.3615653, alt=83, tz=-5, dst='A'),
 Row(faa='BHM', name='Birmingham Intl', lat=33.562942, lon=-86.75355, alt=644, tz=-6, dst='A'),
 Row(faa='BID', name='Block Island State Airport', lat=41.168056, lon=-71.577778, alt=108, tz=-5, dst='A'),
 Row(faa='BIF', name='Biggs Aaf', lat=31.849528, lon=-106.380039, alt=3948, tz=-7, dst='A'),
 Row(faa='BIG', name='Allen Aaf', lat=63.994547, lon=-145.721642, alt=1291, tz=-9, dst='A'),
 Row(faa='BIL', name='Billings Logan International Airport', lat=45.80921, lon=-108.537654, alt=3652, tz=-7, dst='A'),
 Row(faa='BIS', name='Bismarck Municipal Airport', lat=46.775842, lon=-100.757931, alt=1661, tz=-6, dst='A'),
 Row(faa='BIV', name='Tulip City Airport', lat=42.7427778, lon=-86.1078333, alt=698, tz=-5, dst='A'),
 Row(faa='BIX', name='Keesler Afb', lat=30.410425, lon=-88.924433, alt=33, tz=-6, dst='A'),
 Row(faa='BJC', name='Rocky Mountain Metropolitan Airport', lat=39.90888888, lon=-105.11722222, alt=5670, tz=-7, dst='A'),
 Row(faa='BJI', name='Bemidji Regional Airport', lat=47.510722, lon=-94.934722, alt=1391, tz=-6, dst='A'),
 Row(faa='BKC', name='Buckland Airport', lat=65.981667, lon=-161.149167, alt=31, tz=-9, dst='A'),
 Row(faa='BKD', name='Stephens Co', lat=32.719047, lon=-98.891, alt=1284, tz=-6, dst='A'),
 Row(faa='BKF', name='Buckley Afb', lat=39.701668, lon=-104.75166, alt=5662, tz=-7, dst='A'),
 Row(faa='BKG', name='Branson LLC', lat=36.531994, lon=-93.200556, alt=1302, tz=-6, dst='A'),

In [17]:
# 2.1.2
type(airports_df.head(4))               # List
# 2.1.3
type(airports_df.head(4)[0])            # Row

list

pyspark.sql.types.Row

In [18]:
# 2.2 Better display in columnar format

airports_df.show(5)                     # Tabular format
airports_df.show(5, False)              # Tabular format with extended columns

+---+--------------------+----------+-----------+----+---+---+
|faa|                name|       lat|        lon| alt| tz|dst|
+---+--------------------+----------+-----------+----+---+---+
|04G|   Lansdowne Airport|41.1304722|-80.6195833|1044| -5|  A|
|06A|Moton Field Munic...|32.4605722|-85.6800278| 264| -5|  A|
|06C| Schaumburg Regional|41.9893408|-88.1012428| 801| -6|  A|
|06N|     Randall Airport| 41.431912|-74.3915611| 523| -5|  A|
|09J|Jekyll Island Air...|31.0744722|-81.4277778|  11| -4|  A|
+---+--------------------+----------+-----------+----+---+---+
only showing top 5 rows

+---+-----------------------------+----------+-----------+----+---+---+
|faa|name                         |lat       |lon        |alt |tz |dst|
+---+-----------------------------+----------+-----------+----+---+---+
|04G|Lansdowne Airport            |41.1304722|-80.6195833|1044|-5 |A  |
|06A|Moton Field Municipal Airport|32.4605722|-85.6800278|264 |-5 |A  |
|06C|Schaumburg Regional          |41.9893408|-88.1012428|801 |-6 |A  |
|06N|Randall Airport              |41.431912 |-74.3915611|523 |-5 |A  |
|09J|Jekyll Island Airport        |31.0744722|-81.4277778|11  |-4 |A  |
+---+-----------------------------+----------+-----------+----+---+---+
only showing top 5 rows

In [19]:
# 3.0 Have a look at the dataframe schema,
#     i.e. the structure of the DataFrame

airports_df.printSchema()
airports_df.dtypes

root
 |-- faa: string (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- alt: integer (nullable = true)
 |-- tz: integer (nullable = true)
 |-- dst: string (nullable = true)

[('faa', 'string'),
 ('name', 'string'),
 ('lat', 'double'),
 ('lon', 'double'),
 ('alt', 'int'),
 ('tz', 'int'),
 ('dst', 'string')]

In [20]:
# 3.1 Column names
airports_df.columns

['faa', 'name', 'lat', 'lon', 'alt', 'tz', 'dst']

In [21]:
# 3.2 How many rows:
airports_df.count()          # 1397

# 3.3 How many columns?
len(airports_df.columns)     # 7

1397

7

In [22]:
# 3.4 Full data summary
airports_df.describe().show()
# 3.4.1 Describe a particular column
airports_df.describe('dst').show(5)

+-------+------------------+--------------------+------------------+------------------+------------------+------------------+----+
|summary|               faa|                name|               lat|               lon|               alt|                tz| dst|
+-------+------------------+--------------------+------------------+------------------+------------------+------------------+----+
|  count|              1397|                1397|              1397|              1397|              1397|              1397|1397|
|   mean|             141.0|                null| 41.75029635989892|-103.6891285724532|1005.9169649248389|-6.420901932712956|null|
| stddev|197.46392075515973|                null|10.549872185047212|30.125313702028542|1521.2701426664623|1.8244027290430729|null|
|    min|               04G|Aberdeen Regional...|         19.721375|          -176.646|               -54|               -11|   A|
|    max|               ZYP|Zamperini Field A...|         72.270833|         174.11362|              9078|                 8|   U|
+-------+------------------+--------------------+------------------+------------------+------------------+------------------+----+

+-------+----+
|summary| dst|
+-------+----+
|  count|1397|
|   mean|null|
| stddev|null|
|    min|   A|
|    max|   U|
+-------+----+

In [23]:
###### C. Using Verbs
#         Select, filter, groupby, distinct, count()
#         It is more like 'dplyr' syntax, only that instead
#         of %>%, we have dot (.) .


# 4 Selecting Single/Multiple Columns
#   This does now work:   airports_df['faa'].show(5)
#    Following also does not work. Limitations
#    come because data is divided into chunks in various
#    servers.

airports_df[:2, :].show()

TypeError: Invalid argument, not a string or column: slice(None, 2, None) of type <class 'slice'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [24]:
# 4.1
airports_df.select('faa').show(3)

#4.2 Both the following work:
airports_df.select('faa','dst').show(3)
airports_df.select(['faa','dst']).show(3)        # List of columns

+---+
|faa|
+---+
|04G|
|06A|
|06C|
+---+
only showing top 3 rows

+---+---+
|faa|dst|
+---+---+
|04G|  A|
|06A|  A|
|06C|  A|
+---+---+
only showing top 3 rows

+---+---+
|faa|dst|
+---+---+
|04G|  A|
|06A|  A|
|06C|  A|
+---+---+
only showing top 3 rows

In [25]:
# 4.3 Selecting Distinct values in Multiple Columns

airports_df.select('dst','tz').show()                 # Many repeating records
airports_df.select('dst','tz').distinct().show()      # Unique records

airports_df.select('dst','tz').count()                # 1397
airports_df.select('dst','tz').distinct().count()     # 22

+---+---+
|dst| tz|
+---+---+
|  A| -5|
|  A| -5|
|  A| -6|
|  A| -5|
|  A| -4|
|  A| -4|
|  A| -5|
|  A| -5|
|  U| -5|
|  A| -8|
|  A| -5|
|  U| -6|
|  A| -5|
|  U| -4|
|  A| -4|
|  A| -5|
|  A| -8|
|  U| -6|
|  A| -4|
|  U| -5|
+---+---+
only showing top 20 rows

+---+---+
|dst| tz|
+---+---+
|  A|  7|
|  A| -9|
|  A| -4|
|  U| -9|
|  A|  8|
|  A| -7|
|  N| -7|
|  N|-10|
|  A| -8|
|  U| -4|
|  A|  5|
|  A|-10|
|  A| -5|
|  U| -5|
|  U| -8|
|  N| -5|
|  U|-10|
|  A|  6|
|  A|-11|
|  A| -6|
+---+---+
only showing top 20 rows

1397

22

In [26]:
# 4.4 Like operator in where clause.
#        'where'  is an alias for 'filter' (see below)

airports_df.select('name'). \
            where("name like '%La%'").\
            show(3,False)

+-----------------------------+
|name                         |
+-----------------------------+
|Lansdowne Airport            |
|Finger Lakes Regional Airport|
|Frazier Lake Airpark         |
+-----------------------------+
only showing top 3 rows

In [27]:
# 5. Filtering data
# http://spark.apache.org/docs/2.0.0/api/python/pyspark.sql.html#pyspark.sql.DataFrame.filter
#  We use the filter command to filter our DataFrame based
#  on the condition that tz must be equal to -5 and then
#  we are calculating how many records/rows are there in
#  the filtered output.
#  Syntax: filter(condition) 

# 5.1
airports_df.filter(airports_df.tz == -5) .show(3)
# 5.2
airports_df.filter(airports_df["tz"] == -5) .show(3)
# 5.3
airports_df.filter("tz == -5") .show(3)                          # Different syntax
# 5.4
from pyspark.sql.functions import col
airports_df.filter(col("tz") == -5) .show(3)

+---+--------------------+----------+-----------+----+---+---+
|faa|                name|       lat|        lon| alt| tz|dst|
+---+--------------------+----------+-----------+----+---+---+
|04G|   Lansdowne Airport|41.1304722|-80.6195833|1044| -5|  A|
|06A|Moton Field Munic...|32.4605722|-85.6800278| 264| -5|  A|
|06N|     Randall Airport| 41.431912|-74.3915611| 523| -5|  A|
+---+--------------------+----------+-----------+----+---+---+
only showing top 3 rows

+---+--------------------+----------+-----------+----+---+---+
|faa|                name|       lat|        lon| alt| tz|dst|
+---+--------------------+----------+-----------+----+---+---+
|04G|   Lansdowne Airport|41.1304722|-80.6195833|1044| -5|  A|
|06A|Moton Field Munic...|32.4605722|-85.6800278| 264| -5|  A|
|06N|     Randall Airport| 41.431912|-74.3915611| 523| -5|  A|
+---+--------------------+----------+-----------+----+---+---+
only showing top 3 rows

+---+--------------------+----------+-----------+----+---+---+
|faa|                name|       lat|        lon| alt| tz|dst|
+---+--------------------+----------+-----------+----+---+---+
|04G|   Lansdowne Airport|41.1304722|-80.6195833|1044| -5|  A|
|06A|Moton Field Munic...|32.4605722|-85.6800278| 264| -5|  A|
|06N|     Randall Airport| 41.431912|-74.3915611| 523| -5|  A|
+---+--------------------+----------+-----------+----+---+---+
only showing top 3 rows

+---+--------------------+----------+-----------+----+---+---+
|faa|                name|       lat|        lon| alt| tz|dst|
+---+--------------------+----------+-----------+----+---+---+
|04G|   Lansdowne Airport|41.1304722|-80.6195833|1044| -5|  A|
|06A|Moton Field Munic...|32.4605722|-85.6800278| 264| -5|  A|
|06N|     Randall Airport| 41.431912|-74.3915611| 523| -5|  A|
+---+--------------------+----------+-----------+----+---+---+
only showing top 3 rows

In [28]:
# 5.5 Filter with regular expression:
airports_df.select('name'). \
            where(" name rlike  'pal$' " ). \
            show(3,truncate = False) 
# 5.6  where is an alias for filter  
airports_df.select('name'). \
            filter(" name rlike  'pal$' " ). \
            show(3,truncate = False) 
# 5.7    
airports_df.filter(" name rlike  'pal$' " ). \
            show(3,truncate = False)

+-------------------+
|name               |
+-------------------+
|Mansfield Municipal|
|Wadsworth Municipal|
|Barnes Municipal   |
+-------------------+
only showing top 3 rows

+-------------------+
|name               |
+-------------------+
|Mansfield Municipal|
|Wadsworth Municipal|
|Barnes Municipal   |
+-------------------+
only showing top 3 rows

+---+-------------------+----------+-----------+---+---+---+
|faa|name               |lat       |lon        |alt|tz |dst|
+---+-------------------+----------+-----------+---+---+---+
|1B9|Mansfield Municipal|42.0001331|-71.1967714|122|-5 |A  |
|3G3|Wadsworth Municipal|41.0031572|-81.7564401|974|-5 |A  |
|BAF|Barnes Municipal   |42.1579472|-72.715875 |270|-4 |A  |
+---+-------------------+----------+-----------+---+---+---+
only showing top 3 rows

In [29]:
# 6. Combining verbs: select, filter and distinct
airports_df.select('dst', 'tz'). \
            filter(airports_df.tz == -5). \
            show(3)

airports_df.select('dst', 'tz'). \
            filter(airports_df.tz == -5). \
            distinct(). \
            show(3)

+---+---+
|dst| tz|
+---+---+
|  A| -5|
|  A| -5|
|  A| -5|
+---+---+
only showing top 3 rows

+---+---+
|dst| tz|
+---+---+
|  A| -5|
|  U| -5|
|  N| -5|
+---+---+

In [33]:
# 6.1 We can filter our data based on multiple conditions (AND or OR)
#     Logical Operators: & ==and,   | == or   ~ == not

airports_df.filter(                         \
                   (airports_df.tz == -5) & \
                   (airports_df.dst !="A")). \
                   show(3)

+---+--------------------+----------+-----------+----+---+---+
|faa|                name|       lat|        lon| alt| tz|dst|
+---+--------------------+----------+-----------+----+---+---+
|0P2|Shoestring Aviati...|39.7948244|-76.6471914|1000| -5|  U|
|1OH|     Fortman Airport|40.5553253|-84.3866186| 885| -5|  U|
|4I7|Putnam County Air...|39.6335556|-86.8138056| 842| -5|  U|
+---+--------------------+----------+-----------+----+---+---+
only showing top 3 rows

In [39]:
# 7. groupby. Can apply sum, min, max, count

airports_df.groupby('tz'). \
           count(). \
           show(3)

airports_df.groupby('tz'). \
            agg({'lat' : 'count'}). \
            show(3)

+---+-----+
| tz|count|
+---+-----+
|-10|   26|
|-11|    2|
|  6|    1|
+---+-----+
only showing top 3 rows

+---+----------+
| tz|count(lat)|
+---+----------+
|-10|        26|
|-11|         2|
|  6|         1|
+---+----------+
only showing top 3 rows

In [ ]:
"""
Unpacking operator in python (*) : 
Ref: https://codeyarns.com/2012/04/26/unpack-operator-in-python/ 

def fox(a,b):  
    return (a *b)  

m = [3,4]  
fox(m)    
fox(*m)   

"""

In [42]:
# 7.1 One can take the average of columns by passing
#       an unpacked list of column names.

grObject = airports_df.groupby('tz')

avg_cols = ['lat', 'lon']
grObject.avg(*avg_cols).show(3)

+---+-----------------+-------------------+
| tz|         avg(lat)|           avg(lon)|
+---+-----------------+-------------------+
|-10|32.38998811538461|-146.58902384615382|
|-11|       56.8728385|       -169.9410275|
|  6|          29.5569|         -95.137497|
+---+-----------------+-------------------+
only showing top 3 rows

In [43]:
# 7.2 To call multiple aggregation functions at once, pass a dictionary.
#         The 'key' of dictionary becomes argument to 'value'.
#                             count(*)        avg(lat)      sum(lon)

grObject.agg({'*': 'count', 'lat': 'avg', 'lon':'sum'}).show(2)

+---+--------+-------------------+-----------------+
| tz|count(1)|           sum(lon)|         avg(lat)|
+---+--------+-------------------+-----------------+
|-10|      26|-3811.3146199999996|32.38998811538461|
|-11|       2|        -339.882055|       56.8728385|
+---+--------+-------------------+-----------------+
only showing top 2 rows

In [44]:
# 8. Create new columns in Spark using .withColumn() --mutate
#      New column: altInThousands . 
#      Product of two columns:  'alt' and  'lon' 

airports_df.withColumn('altInThousands', 
                       airports_df.alt*airports_df.lon
                      ).show(3)

+---+--------------------+----------+-----------+----+---+---+--------------+
|faa|                name|       lat|        lon| alt| tz|dst|altInThousands|
+---+--------------------+----------+-----------+----+---+---+--------------+
|04G|   Lansdowne Airport|41.1304722|-80.6195833|1044| -5|  A|-84166.8449652|
|06A|Moton Field Munic...|32.4605722|-85.6800278| 264| -5|  A|-22619.5273392|
|06C| Schaumburg Regional|41.9893408|-88.1012428| 801| -6|  A|-70569.0954828|
+---+--------------------+----------+-----------+----+---+---+--------------+
only showing top 3 rows

In [56]:
# 9. Save the new file with additional column in parquet form

xyz = airports_df.withColumn('altInThousands', airports_df.alt*airports_df.lon)
xyz.write.parquet("hdfs://localhost:9000/user/ashok/data_files/airports_extra.parquet")

In [57]:
# 9.1 Delete xyz from spark
import gc
del xyz
gc.collect()    # Delete all cache also

746

In [59]:
# 9.2 Read the stored parquet file
df = spark.read.parquet("hdfs://localhost:9000/user/ashok/data_files/airports_extra.parquet")
df.show(3)

+---+--------------------+----------+-----------+----+---+---+--------------+
|faa|                name|       lat|        lon| alt| tz|dst|altInThousands|
+---+--------------------+----------+-----------+----+---+---+--------------+
|04G|   Lansdowne Airport|41.1304722|-80.6195833|1044| -5|  A|-84166.8449652|
|06A|Moton Field Munic...|32.4605722|-85.6800278| 264| -5|  A|-22619.5273392|
|06C| Schaumburg Regional|41.9893408|-88.1012428| 801| -6|  A|-70569.0954828|
+---+--------------------+----------+-----------+----+---+---+--------------+
only showing top 3 rows

In [45]:
# 9.3 Read 'weather.csv file into spark from hadoop

URL_of_file= "hdfs://localhost:9000/user/ashok/data_files/nycflights/"
weather_df = spark.read.csv(path = URL_of_file + "weather.csv",
                            inferSchema = True,
                            header = True
                           )
weather_df.show(3)

+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
|origin|year|month|day|hour| temp| dewp|humid|wind_dir|wind_speed|    wind_gust|precip|pressure|visib|          time_hour|
+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
|   EWR|2013|    1|  1|   0|37.04|21.92|53.97|     230|  10.35702|11.9186514756|   0.0|  1013.9| 10.0|2013-01-01 05:30:00|
|   EWR|2013|    1|  1|   1|37.04|21.92|53.97|     230|  13.80936|15.8915353008|   0.0|    1013| 10.0|2013-01-01 06:30:00|
|   EWR|2013|    1|  1|   2|37.94|21.92|52.09|     230|  12.65858|14.5672406924|   0.0|  1012.6| 10.0|2013-01-01 07:30:00|
+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
only showing top 3 rows

In [46]:
# 10. Joins
# Refer: http://www.learnbymarketing.com/1100/pyspark-joins-by-example/
# For example, I can join the two titanic dataframes by the column PassengerId

# 10.1
airports_df.join(weather_df, airports_df.faa==weather_df.origin).show(3)
# 10.2
airports_df.join(weather_df, airports_df.faa==weather_df.origin, how = 'inner').show(3)
# 10.3
airports_df.join(weather_df, airports_df.faa==weather_df.origin, how = 'left').show(3)   # Could also use 'left_outer', 'right', 'full'

+---+-------------------+-------+----------+---+---+---+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
|faa|               name|    lat|       lon|alt| tz|dst|origin|year|month|day|hour| temp| dewp|humid|wind_dir|wind_speed|    wind_gust|precip|pressure|visib|          time_hour|
+---+-------------------+-------+----------+---+---+---+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
|EWR|Newark Liberty Intl|40.6925|-74.168667| 18| -5|  A|   EWR|2013|    1|  1|   0|37.04|21.92|53.97|     230|  10.35702|11.9186514756|   0.0|  1013.9| 10.0|2013-01-01 05:30:00|
|EWR|Newark Liberty Intl|40.6925|-74.168667| 18| -5|  A|   EWR|2013|    1|  1|   1|37.04|21.92|53.97|     230|  13.80936|15.8915353008|   0.0|    1013| 10.0|2013-01-01 06:30:00|
|EWR|Newark Liberty Intl|40.6925|-74.168667| 18| -5|  A|   EWR|2013|    1|  1|   2|37.94|21.92|52.09|     230|  12.65858|14.5672406924|   0.0|  1012.6| 10.0|2013-01-01 07:30:00|
+---+-------------------+-------+----------+---+---+---+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
only showing top 3 rows

+---+-------------------+-------+----------+---+---+---+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
|faa|               name|    lat|       lon|alt| tz|dst|origin|year|month|day|hour| temp| dewp|humid|wind_dir|wind_speed|    wind_gust|precip|pressure|visib|          time_hour|
+---+-------------------+-------+----------+---+---+---+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
|EWR|Newark Liberty Intl|40.6925|-74.168667| 18| -5|  A|   EWR|2013|    1|  1|   0|37.04|21.92|53.97|     230|  10.35702|11.9186514756|   0.0|  1013.9| 10.0|2013-01-01 05:30:00|
|EWR|Newark Liberty Intl|40.6925|-74.168667| 18| -5|  A|   EWR|2013|    1|  1|   1|37.04|21.92|53.97|     230|  13.80936|15.8915353008|   0.0|    1013| 10.0|2013-01-01 06:30:00|
|EWR|Newark Liberty Intl|40.6925|-74.168667| 18| -5|  A|   EWR|2013|    1|  1|   2|37.94|21.92|52.09|     230|  12.65858|14.5672406924|   0.0|  1012.6| 10.0|2013-01-01 07:30:00|
+---+-------------------+-------+----------+---+---+---+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
only showing top 3 rows

+---+--------------------+----------+-----------+----+---+---+------+----+-----+----+----+----+----+-----+--------+----------+---------+------+--------+-----+---------+
|faa|                name|       lat|        lon| alt| tz|dst|origin|year|month| day|hour|temp|dewp|humid|wind_dir|wind_speed|wind_gust|precip|pressure|visib|time_hour|
+---+--------------------+----------+-----------+----+---+---+------+----+-----+----+----+----+----+-----+--------+----------+---------+------+--------+-----+---------+
|04G|   Lansdowne Airport|41.1304722|-80.6195833|1044| -5|  A|  null|null| null|null|null|null|null| null|    null|      null|     null|  null|    null| null|     null|
|06A|Moton Field Munic...|32.4605722|-85.6800278| 264| -5|  A|  null|null| null|null|null|null|null| null|    null|      null|     null|  null|    null| null|     null|
|06C| Schaumburg Regional|41.9893408|-88.1012428| 801| -6|  A|  null|null| null|null|null|null|null| null|    null|      null|     null|  null|    null| null|     null|
+---+--------------------+----------+-----------+----+---+---+------+----+-----+----+----+----+----+-----+--------+----------+---------+------+--------+-----+---------+
only showing top 3 rows

### SQL queries against DataFrame

In [47]:
# 11. Many of the operations can be accessed by writing SQL queries in spark.sql().
# To make an existing Spark dataframe usable for spark.sql(), one needs to
#   register said dataframe as a temporary table.

# 11.1 As an example, we can register the two dataframes as temp tables then
#      join them through spark.sql().

airports_df.createOrReplaceTempView('dfa_temp')
weather_df.createOrReplaceTempView('dfw_temp')

In [48]:
# 11.2 Simple SQL query. SQLContext is no longer needed. 'spark'
#            session object can be used.

dfj = spark.sql('select * from dfa_temp' )
dfj.show(3)

+---+--------------------+----------+-----------+----+---+---+
|faa|                name|       lat|        lon| alt| tz|dst|
+---+--------------------+----------+-----------+----+---+---+
|04G|   Lansdowne Airport|41.1304722|-80.6195833|1044| -5|  A|
|06A|Moton Field Munic...|32.4605722|-85.6800278| 264| -5|  A|
|06C| Schaumburg Regional|41.9893408|-88.1012428| 801| -6|  A|
+---+--------------------+----------+-----------+----+---+---+
only showing top 3 rows

In [49]:
# 11.3 Now the SQL join

dfj = spark.sql('select * from dfa_temp a, dfw_temp b where a.faa = b.origin' )
dfj.show(3)

+---+-------------------+-------+----------+---+---+---+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
|faa|               name|    lat|       lon|alt| tz|dst|origin|year|month|day|hour| temp| dewp|humid|wind_dir|wind_speed|    wind_gust|precip|pressure|visib|          time_hour|
+---+-------------------+-------+----------+---+---+---+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
|EWR|Newark Liberty Intl|40.6925|-74.168667| 18| -5|  A|   EWR|2013|    1|  1|   0|37.04|21.92|53.97|     230|  10.35702|11.9186514756|   0.0|  1013.9| 10.0|2013-01-01 05:30:00|
|EWR|Newark Liberty Intl|40.6925|-74.168667| 18| -5|  A|   EWR|2013|    1|  1|   1|37.04|21.92|53.97|     230|  13.80936|15.8915353008|   0.0|    1013| 10.0|2013-01-01 06:30:00|
|EWR|Newark Liberty Intl|40.6925|-74.168667| 18| -5|  A|   EWR|2013|    1|  1|   2|37.94|21.92|52.09|     230|  12.65858|14.5672406924|   0.0|  1012.6| 10.0|2013-01-01 07:30:00|
+---+-------------------+-------+----------+---+---+---+------+----+-----+---+----+-----+-----+-----+--------+----------+-------------+------+--------+-----+-------------------+
only showing top 3 rows

In [50]:
# 12. Drop a columns

airports_df.drop('name').show(3)

# 12.1  Or drop multiple columns

columns_to_drop = ['name', 'lat']
xx =airports_df.drop(*columns_to_drop)
xx.show(3)

+---+----------+-----------+----+---+---+
|faa|       lat|        lon| alt| tz|dst|
+---+----------+-----------+----+---+---+
|04G|41.1304722|-80.6195833|1044| -5|  A|
|06A|32.4605722|-85.6800278| 264| -5|  A|
|06C|41.9893408|-88.1012428| 801| -6|  A|
+---+----------+-----------+----+---+---+
only showing top 3 rows

+---+-----------+----+---+---+
|faa|        lon| alt| tz|dst|
+---+-----------+----+---+---+
|04G|-80.6195833|1044| -5|  A|
|06A|-85.6800278| 264| -5|  A|
|06C|-88.1012428| 801| -6|  A|
+---+-----------+----+---+---+
only showing top 3 rows

In [ ]:
########### I am done ####################